body *{
    padding: 0;
    margin: 0%;
}
body{
    font-family: 'Oswald', sans-serif;
    background-color: black;
    color: white;
}
p{
    font-family: sans-serif;
}
h2{
    font-family: 'Oswald';
    font-weight: 500;
}
h5{
    font-family: sans-serif;
    font-weight: 500;
}

/*  header inicio */
/* Navbar  */

.navbar-brand{
    font-size: 20px;
    font-family: "Oswald";
    font-weight: lighter;
}
.nav{
    position: absolute;
    top: 10px;
    width: 100%;
    background-color: transparent !important;;
}
/* main */
/* Dividor de secciones */
.divider {
    height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    border-top: 1px solid rgb(40, 179, 184);
}

/* Seccion de iconos */

.features{
    padding-top: 5rem;
}
.title{
    color: white;
    padding-top: 3rem;
}
/* Seccion de quienes somos */
.icons{
    padding-left: 2rem;
    padding-right: 2rem;

}
.iconos{
    padding-left: 1rem;
    padding-right: 1rem
}

.card i{
    display: inline-block;
    width: 100%;
}
div i{
    text-align: center;
    color: white;
}
/* Seccion de fotos destacado */
.cardphotos {
    padding-top: 5rem;
}
.card-i img{
    height: 150px;
}
/*footer sector contacto*/

footer{
    padding-top: 8rem;
}
