body *{
    padding: 0;
    margin: 0%;
}

.navbar-brand{
    font-size: 40px;
    font-family: "Oswald";
    font-weight: bold;
}
.nav{
    position: absolute;
    top: 10px;
    /* z-index: 10; */
    
    width: 100%;
    background-color: transparent !important;;
}
#Hero-Section{
    height: 100%;
    position:relative;
    text-align: start;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 0;
}
body{
    background-color: rgb(0, 0, 0);
}
.divider {
    height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    border-top: 1px solid rgb(40, 179, 184);
}


.card-i img{
    height: 150px;
}
.card-i{
    height: 400px;
}
.features{
    padding-top: 5rem;
}
.title{
    color: white;
    padding-top: 3rem;
}
h5{
    color: white;
}
p{
    color: white;
}
.icons{
    padding-left: 2rem;
    padding-right: 2rem;

}
.iconos{
    padding-left: 1rem;
    padding-right: 1rem
}

.card i{
    display: inline-block;
    width: 100%;
}
div i{
    text-align: center;
    color: white;
}
.cardphotos {
    padding-top: 10rem;
}
/*footer*/

#comenzar{
    height: 400px;
    text-align: center;
}
#Contacto{
    padding-top: 30px;
}